.title {
   padding: 20px 0 15px 20px;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 36px;
   font-family: 'Fira Sans', sans-serif;
   font-weight: 400;
   letter-spacing: 1.4px;
   text-transform: capitalize;
   color: crimson;
}

@media (max-width: 896px) {
   .title {
      margin-left: 20px;
      font-size: 35px;
   }
}

@media (max-width: 650px) {
   .title {
      margin-left: 20px;
      font-size: 30px;
   }
}

@media (max-width: 550px) {
   .title {
      margin-left: 20px;
      font-size: 27px;
   }
}