.logo {
   font-size: 30px;
   /* margin-right: auto; */
   padding-right: 30px;
   /* color: aliceblue; */
   font-family: 'Fira Sans', sans-serif;
}

/* 
font-family: 'Fira Sans',
sans-serif;
font-family: 'Mukta',
sans-serif;
font-family: 'Titillium Web',
sans-serif; */