.navbar {
   display: flex;
   align-items: center;
   padding: 20px;
   height: 76px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar .static-nav {
   margin-right: auto;
}

.link {
   padding: 0 10px;
   font-size: 16px;
   text-decoration: none;
   font-family: Titillium Web;
   font-weight: 600;
}


.account {
   padding: 5px 12px;
   border-radius: 6px;
   font-size: 16px;
}

@media (max-width: 665px) {
   .navbar .static-nav {
      display: none;
   }

   .margin-auto {
      margin-left: auto;
   }

   .link {
      padding: 0 5px;
      font-weight: 500;
      font-size: 15px;
   }
}

.active {
   color: crimson;
}